header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.logo {
  margin-top: 3rem;
  object-fit: cover;
  width: 3.82rem;
  height: 1.2rem;
}
.nav {
  display: flex;
}
.nav span {
  padding: 3rem;
  display: block;
  border-top: 0.2rem solid white;
  border-bottom: 0.2rem solid white;
  
}
.nav span:hover {
  border-top: 0.2rem solid #0065fc;
  color: #0065fc;
}


@media screen and (max-width: 767px) {
  header {
    flex-direction: column;
    justify-content: flex-start;
  }

  .logo {
    align-self: center;
    margin-bottom: 10vw;
  }
  nav {
    width: 100%;
    align-self: center;
  }
  .nav {
    justify-content: space-around;
    text-align: center;
  }
  .nav li {
    width: 100%;
    height: 100%;
  }
  .nav span {
    width: 100%;
    border-bottom: 0.2rem solid #f2f2f2;
    height: 100%;
    padding: 0vw 0rem 10vw 0rem;
  }
  .nav span:hover, .nav span:active {
    border-top: 0.2rem solid white;
    border-bottom: 0.2rem solid #0065fc;
  }
}
